## Course Assignment Instructions
You should have Python (version 3.8 or later) and Jupyter Notebook installed to complete this assignment. You will write code in the empty cell/cells below the problem. While most of this will be a programming assignment, some questions will ask you to "write a few sentences" in markdown cells. 

Submission Instructions:

Create a labs directory in your personal class repository (e.g., located in your home directory)
Clone the class repository
Copy this Jupyter notebook file (.ipynb) into your repo/labs directory
Make your edits, commit changes, and push to your repository
All submissions must be pushed before the due date to avoid late penalties

* Install the numpy, scipy, statsmodels, and pandas packages (we will be using these throughout the semester)

In [1]:
pip install numpy scipy statsmodels pandas

Requirement already satisfied: numpy in /Applications/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: scipy in /Applications/anaconda3/lib/python3.12/site-packages (1.13.1)
Requirement already satisfied: statsmodels in /Applications/anaconda3/lib/python3.12/site-packages (0.14.2)
Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /Applications/anaconda3/lib/python3.12/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in /Applications/anaconda3/lib/python3.12/site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six in /Applications/anaconda3/lib/python3.12/site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

* Print out the numerical constant pi with ten digits after the decimal point using constant 'pi'. You will need to use the math module in python for this.

In [2]:
import math

print(math.pi)
print(round(math.pi, 10))

3.141592653589793
3.1415926536

* Sum up the first 103 terms of the series 1 + 1/2 + 1/4 + 1/8 + ... use base python

In [42]:
sum(1/(2 ** i) for i in range(103))

2.0

using numpy

In [46]:
import numpy as np

total = np.sum(1/(2 ** i) for i in np.arange(103))
print(total)

inf

/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/2937037569.py:3: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  total = np.sum(1/(2 ** i) for i in np.arange(103))
/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/2937037569.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  total = np.sum(1/(2 ** i) for i in np.arange(103))

 * The issue here arises because NumPy's 2 ** np.arange(103) may overflow for very large exponents, leading to incorrect results. NumPy uses fixed-precision data types, which can cause problems when dealing with extremely large numbers.  * The issue here arises because NumPy's 2 ** np.arange(103) may overflow for very large exponents, leading to incorrect results. NumPy uses fixed-precision data types, which can cause problems when dealing with extremely large numbers.

In [49]:
import numpy as np

total = np.sum(1/(2.0 ** i) for i in range(103))
print(total)

2.0

/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/1883823212.py:3: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.
  total = np.sum(1/(2.0 ** i) for i in range(103))

* Find the product of the first 387 terms of `1 * 1/2 * 1/4 * 1/8 *` ...

using base python

In [51]:
bar = 1

for i in range(387):
    bar *= (1/2** i)
print(bar)

0.0

using numpy

In [11]:
num = np.prod(1/(2.0 ** np.arange(387)))

print(num)

0.0

Is this answer *exactly* correct?

No, this answer is not exactly correct. The number should be positive although very small and the answer generated is a result of numerical underflow.

* Figure out a means to express the answer more exactly. Not compute exactly, but express more exactly.

In [53]:
import math as m

total = 0

-m.log(2)*(sum(range(387)))

-51771.856063202875

* using numpy ... Hint: use the `log` and `sum` functions in numpy

In [55]:
-np.log(2) * np.sum(np.arange(387))

-51771.856063202875

* Create the sequence `x = [Inf, 20, 18, ..., -20]`.

Pure python

In [75]:
# Create the sequence
sequence = [float('inf')] + list(range(100, -21, -2))

x = np.log(sequence) / np.log(3)

# Print the result
print(x)

[       inf 4.19180655 4.17341725 4.15464877 4.13548513 4.11590934
 4.09590327 4.0754476  4.05452164 4.03310326 4.01116872 3.98869254
 3.96564727 3.94200337 3.91772888 3.89278926 3.86714702 3.84076143
 3.81358809 3.78557852 3.75667961 3.72683303 3.69597451 3.66403301
 3.63092975 3.59657703 3.5608768  3.52371901 3.48497958 3.44451785
 3.4021735  3.35776278 3.31107361 3.26185951 3.20983168 3.15464877
 3.09590327 3.03310326 2.96564727 2.89278926 2.81358809 2.72683303
 2.63092975 2.52371901 2.4021735  2.26185951 2.09590327 1.89278926
 1.63092975 1.26185951 0.63092975       -inf        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan]

/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/4147154379.py:4: RuntimeWarning: divide by zero encountered in log
  x = np.log(sequence) / np.log(3)
/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/4147154379.py:4: RuntimeWarning: invalid value encountered in log
  x = np.log(sequence) / np.log(3)

Using numpy

In [77]:
# Create the sequence
x = [float('inf')] + list(np.arange(20, -22, -2))

# Print the result
print(x)

[inf, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

*   Create the sequence `x = [log_3(Inf), log_3(100), log_3(98), ... log_3(-20)]` ... Use `log` from numpy.

In [79]:
import numpy as np
x = [float('inf')] + list(np.log(np.arange(100, -21, -2)) / np.log(3))

print(x)

[inf, 4.19180654857877, 4.173417251894302, 4.154648767857287, 4.135485128951194, 4.115909337343186, 4.095903274289384, 4.07544759935851, 4.0545216380691365, 4.0331032563043365, 4.011168719591413, 3.9886925350037563, 3.9656472730442496, 3.9420033663892897, 3.9177288817897304, 3.892789260714372, 3.8671470234508067, 3.8407614303054807, 3.813588092215595, 3.785578521428744, 3.756679610828472, 3.7268330278608417, 3.6959745056821194, 3.6640330098757947, 3.6309297535714573, 3.5965770266157073, 3.5608767950073115, 3.5237190142858297, 3.4849795837717283, 3.4445178457870527, 3.4021735027328797, 3.357762781432299, 3.3110736128178324, 3.2618595071429146, 3.2098316767340234, 3.154648767857287, 3.0959032742893844, 3.033103256304337, 2.96564727304425, 2.8927892607143724, 2.8135880922155954, 2.7268330278608417, 2.630929753571457, 2.5237190142858297, 2.402173502732879, 2.2618595071429146, 2.095903274289385, 1.892789260714372, 1.6309297535714573, 1.2618595071429148, 0.6309297535714574, -inf, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/1075804181.py:2: RuntimeWarning: divide by zero encountered in log
  x = [float('inf')] + list(np.log(np.arange(100, -21, -2)) / np.log(3))
/var/folders/vs/15_l4_0n3jj8jc7tlrdg4_yw0000gn/T/ipykernel_7431/1075804181.py:2: RuntimeWarning: invalid value encountered in log
  x = [float('inf')] + list(np.log(np.arange(100, -21, -2)) / np.log(3))

* Create a vector of booleans where the entry is true if `x[i]` is positive and finite. Use `&` from base python along with `isnan` and `isinfinite` from numpy

In [81]:
import numpy as np
x = np.array(x) 
y = ~np.isnan(x) & np.isfinite(x) & (x > 0)

print(y)

[False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False False
 False False]

* Locate the indices of the non-real numbers in this vector. Numpy has a `where` function in lieu of R's `which`

In [83]:
false_indices = np.where(y==False)[0]
print(false_indices)

[ 0 51 52 53 54 55 56 57 58 59 60 61]

* Locate the indices of the infinite quantities in this vector using `where` and `isinf` from numpy.

In [89]:
infin_indices = np.where(np.isinf(x))[0]
print(infin_indices)

[ 0 51]

* Locate the indices of the min and max in this vector. Hint: use the `arg.min` and `arg.max` functions from numpy

In [93]:
xs = [i for i in x if (~np.isnan(i))]
#print(xs)
r = [np.argmax(xs), np.argmin(xs)]

print(r)

[0, 51]

* Count the number of unique values in `x`. Use `unique` from numpy.

In [97]:
print(np.unique(x).size)

53

* Cast `x` to a factor. Do the number of levels make sense? Should be 53 unique values. Use `categorical` from pandas.

In [99]:
import pandas as pd

# Cast x to a categorical (similar to as.factor(x) in R)
x_factor = pd.Categorical(x)

# Check the unique levels (categories)
levels = x_factor.categories
num_levels = len(levels)

print(f"Factor levels: {levels}")
print(f"Number of levels: {num_levels}")

Factor levels: Index([              -inf, 0.6309297535714574, 1.2618595071429148,
       1.6309297535714573,  1.892789260714372,  2.095903274289385,
       2.2618595071429146,  2.402173502732879, 2.5237190142858297,
        2.630929753571457, 2.7268330278608417, 2.8135880922155954,
       2.8927892607143724,   2.96564727304425,  3.033103256304337,
       3.0959032742893844,  3.154648767857287, 3.2098316767340234,
       3.2618595071429146, 3.3110736128178324,  3.357762781432299,
       3.4021735027328797, 3.4445178457870527, 3.4849795837717283,
       3.5237190142858297, 3.5608767950073115, 3.5965770266157073,
       3.6309297535714573, 3.6640330098757947, 3.6959745056821194,
       3.7268330278608417,  3.756679610828472,  3.785578521428744,
        3.813588092215595, 3.8407614303054807, 3.8671470234508067,
        3.892789260714372, 3.9177288817897304, 3.9420033663892897,
       3.9656472730442496, 3.9886925350037563,  4.011168719591413,
       4.0331032563043365, 4.0545216380691365,   4.07544759935851,
        4.095903274289384,  4.115909337343186,  4.135485128951194,
        4.154648767857287,  4.173417251894302,   4.19180654857877,
                      inf],
      dtype='float64')
Number of levels: 52

* In Python, using pandas, NaN is not treated as a level in a categorical type by default. Pandas does not allow NaN to be a category. To include NaN as a level, you need to explicitly handle it by filling them with a placeholder value (like "NaN" or a specific number) before making the data categorical. Use `categorical` and `isna` from pandas.

In [101]:
# Replace NaN with a placeholder value (e.g., 'NaN')
x_filled = [val if not pd.isna(val) else 'NaN' for val in x]

# Convert to categorical
x_factor = pd.Categorical(x_filled)

# Check the unique levels (including 'NaN' as a level)
factor_levels = x_factor.categories
num_levels = len(factor_levels)

print(f"Factor levels (including NaN): {factor_levels}")
print(f"Number of levels: {num_levels}")

Factor levels (including NaN): Index([              -inf, 0.6309297535714574, 1.2618595071429148,
       1.6309297535714573,  1.892789260714372,  2.095903274289385,
       2.2618595071429146,  2.402173502732879, 2.5237190142858297,
        2.630929753571457, 2.7268330278608417, 2.8135880922155954,
       2.8927892607143724,   2.96564727304425,  3.033103256304337,
       3.0959032742893844,  3.154648767857287, 3.2098316767340234,
       3.2618595071429146, 3.3110736128178324,  3.357762781432299,
       3.4021735027328797, 3.4445178457870527, 3.4849795837717283,
       3.5237190142858297, 3.5608767950073115, 3.5965770266157073,
       3.6309297535714573, 3.6640330098757947, 3.6959745056821194,
       3.7268330278608417,  3.756679610828472,  3.785578521428744,
        3.813588092215595, 3.8407614303054807, 3.8671470234508067,
        3.892789260714372, 3.9177288817897304, 3.9420033663892897,
       3.9656472730442496, 3.9886925350037563,  4.011168719591413,
       4.0331032563043365, 4.0545216380691365,   4.07544759935851,
        4.095903274289384,  4.115909337343186,  4.135485128951194,
        4.154648767857287,  4.173417251894302,   4.19180654857877,
                      inf,              'NaN'],
      dtype='object')
Number of levels: 53

* Cast `x` to integers. Use `where`, `isinfinite` from numpy and `astype` from base python.

In [105]:
replaced_inf_x = np.where(np.isfinite(x), x, 0) #putting the cursor at the front of the parentheses and clicking shift+tab shows information about what it can take
int_x = replaced_inf_x.astype(int)
int_x

array([0, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

* Use `x` to create a new vector `y` containing only the real numbers in x. Use `isnan`, `logical_and`, and `reduce` from numpy

In [114]:
y = x[np.logical_and.reduce((~np.isnan(x), np.isfinite(x), x > 0))]
print(y)

[4.19180655 4.17341725 4.15464877 4.13548513 4.11590934 4.09590327
 4.0754476  4.05452164 4.03310326 4.01116872 3.98869254 3.96564727
 3.94200337 3.91772888 3.89278926 3.86714702 3.84076143 3.81358809
 3.78557852 3.75667961 3.72683303 3.69597451 3.66403301 3.63092975
 3.59657703 3.5608768  3.52371901 3.48497958 3.44451785 3.4021735
 3.35776278 3.31107361 3.26185951 3.20983168 3.15464877 3.09590327
 3.03310326 2.96564727 2.89278926 2.81358809 2.72683303 2.63092975
 2.52371901 2.4021735  2.26185951 2.09590327 1.89278926 1.63092975
 1.26185951 0.63092975]

* Use the left rectangle method to numerically integrate x^2 from 0 to 1 with rectangle width size 1e-6. Use `arrange` and `sum` from numpy

In [116]:
# Define the rectangle width
width = 1e-6

# Create the sequence for the left endpoints (similar to seq in R)
x = np.arange(0, 1, width)

# Compute the sum using the left rectangle method
approximation = np.sum(x ** 2) * width

# Print the result
print(approximation)

0.33333283333349994

* Calculate the average of 100 realizations of standard Bernoullis in one line using the numpy's random.choice function.

In [120]:
mean_bern = np.mean(np.random.choice([0,1],size = 100, replace = True))
mean_bern

0.51

* Calculate the average of 500 realizations of Bernoullis with p = 0.9 in one line using the `random.choice` and `mean` functions in numpy.

In [130]:
np.mean(np.random.choice([0,1], p=[0.1, 0.9], replace = True, size = 500))

0.87

* Calculate the average of 1000 realizations of Bernoullis with p = 0.9 in one line using `binom` from scipy.stats.

In [136]:
from scipy.stats import binom

x = binom.rvs(n = 1, p = 0.9, size = 1000).mean() 
print(x)

0.902

* Let `n = 50`. Create a n x n matrix `R` of exactly 50% entries 0's, 25% 1's 25% 2's. These values should be in random locations.

In [138]:
import pandas as pd

# Set n
n = 50

# Generate the random values with specified proportions
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the values into an n x n matrix
R = values.reshape(n, n)

# Convert the matrix into a DataFrame
df = pd.DataFrame(R)

# Print the DataFrame
print(df)

    0   1   2   3   4   5   6   7   8   9   ...  40  41  42  43  44  45  46  \
0    1   0   0   2   0   0   0   1   2   0  ...   2   0   0   0   0   0   1
1    1   2   0   1   0   2   2   1   2   2  ...   1   1   0   0   1   1   1
2    1   0   0   1   0   0   1   1   0   0  ...   2   0   0   0   2   1   2
3    2   2   1   1   0   0   1   1   2   2  ...   0   1   0   2   0   0   0
4    0   0   1   0   2   0   0   2   1   2  ...   2   0   1   0   0   0   0
5    1   1   1   1   1   1   2   1   1   0  ...   2   2   2   0   2   2   1
6    0   0   0   1   2   2   0   0   1   0  ...   0   0   0   2   0   2   0
7    0   0   1   0   2   0   1   2   1   0  ...   0   0   1   0   2   1   0
8    1   2   0   2   0   0   2   2   0   2  ...   2   0   0   1   1   0   2
9    1   0   2   0   0   2   2   2   0   0  ...   2   0   1   0   0   0   2
10   1   2   0   0   1   1   1   1   0   2  ...   0   1   2   0   1   1   0
11   0   1   2   1   1   1   0   0   0   0  ...   0   0   0   0   0   0   0
12   0   0   0   1   0   1   0   2   0   1  ...   0   0   1   2   2   1   0
13   2   1   2   1   0   2   0   0   0   0  ...   0   1   0   0   2   2   1
14   0   0   2   0   0   2   2   1   2   0  ...   1   1   1   0   2   0   0
15   2   1   1   1   0   1   0   0   0   0  ...   0   2   0   1   2   0   1
16   0   0   0   0   1   0   1   0   0   0  ...   0   0   1   1   1   1   0
17   1   0   1   0   1   2   1   1   0   1  ...   2   2   0   0   2   0   0
18   1   1   1   2   2   0   1   1   1   0  ...   2   2   2   0   2   0   0
19   0   1   0   2   1   0   0   0   1   2  ...   0   0   0   2   1   0   1
20   0   1   1   1   0   2   0   1   0   2  ...   0   0   2   2   1   0   0
21   0   1   0   2   1   0   0   1   2   2  ...   0   0   0   1   2   2   0
22   0   2   0   0   1   0   0   2   0   2  ...   2   2   0   1   2   0   0
23   2   0   2   0   0   0   1   0   0   0  ...   2   2   2   1   0   2   0
24   2   2   1   0   0   1   1   0   1   0  ...   0   2   0   0   0   1   0
25   1   0   2   1   0   1   2   2   0   0  ...   1   1   0   0   1   1   0
26   0   0   0   0   1   0   1   0   0   2  ...   2   0   2   0   2   0   0
27   2   0   0   2   0   0   0   0   1   2  ...   0   0   0   0   2   1   0
28   0   1   0   1   0   0   1   0   0   2  ...   0   2   0   2   2   1   1
29   1   1   0   0   1   0   0   0   1   0  ...   0   0   0   0   0   0   0
30   0   2   0   1   0   0   0   1   2   0  ...   0   1   0   1   0   0   0
31   0   1   1   2   1   0   1   0   0   0  ...   1   0   0   0   0   2   0
32   0   2   1   0   1   1   2   0   0   0  ...   2   0   0   0   1   1   0
33   0   0   2   2   2   2   1   0   0   0  ...   0   1   1   0   0   0   0
34   0   1   2   1   2   0   0   0   2   0  ...   0   0   0   0   1   1   0
35   2   1   1   0   1   0   1   1   2   2  ...   0   2   0   2   0   2   2
36   2   2   0   0   0   0   0   0   0   1  ...   1   1   2   1   1   0   0
37   1   0   2   0   2   2   0   2   0   1  ...   0   0   1   0   1   1   0
38   0   0   1   0   1   1   0   0   1   0  ...   1   0   2   0   0   2   2
39   0   1   1   0   1   0   1   0   2   0  ...   0   0   0   2   0   2   2
40   0   0   0   0   0   0   0   0   0   0  ...   1   0   1   0   2   0   2
41   0   0   0   2   0   0   0   2   0   2  ...   0   2   2   2   2   1   1
42   0   0   2   0   1   0   1   1   2   0  ...   1   0   0   2   0   0   1
43   0   0   0   2   0   0   0   0   0   0  ...   2   0   0   1   2   1   2
44   0   2   2   2   1   0   2   2   0   0  ...   0   0   2   2   0   2   0
45   1   0   2   1   0   0   0   2   0   0  ...   0   2   2   2   0   0   1
46   2   0   1   1   0   1   0   1   0   0  ...   0   2   1   0   0   0   0
47   2   0   1   1   2   2   2   0   0   0  ...   0   0   2   1   0   0   0
48   0   0   0   2   0   0   1   1   0   0  ...   2   0   0   1   2   1   2
49   1   1   0   2   1   2   1   2   0   1  ...   0   0   0   1   0   2   0

    47  48  49
0    2   1   1
1    0   2   0
2    1   1   0
3    0   2   0
4    1   2   1
5    2   0   1
6    0   2   2
7    0   2   0
8    1   2   1
9    1   0   1
10   0   2   0
11   2   0   1
12   0   2   1
13   0   0   1
14   0   0   1
15   2   0   1
16   2   0   1
17   1   0   0
18   1   2   0
19   2   0   0
20   2   0   2
21   1   2   1
22   2   0   0
23   0   2   0
24   0   1   1
25   0   2   0
26   0   0   0
27   0   2   0
28   1   2   0
29   0   1   1
30   2   2   1
31   0   1   0
32   2   2   2
33   0   0   0
34   0   0   2
35   2   2   2
36   2   1   0
37   1   2   0
38   0   0   1
39   1   2   0
40   0   1   0
41   0   2   0
42   0   0   0
43   2   2   1
44   1   0   0
45   0   1   0
46   0   1   0
47   2   1   0
48   1   1   0
49   0   0   0

[50 rows x 50 columns]

* Randomly punch holes (i.e. `NA`) values in this matrix so that an each entry is missing with probability 30%.

In [140]:
# Convert to float to allow NaN
df = df.astype(float)

# Randomly punch holes with 30% probability
mask = np.random.choice([True, False], size=df.shape, p=[0.3, 0.7])
df[mask] = np.nan

# View the resulting DataFrame
print(df)

     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0   NaN  0.0  0.0  2.0  0.0  0.0  NaN  NaN  2.0  NaN  ...  2.0  NaN  NaN  NaN
1   1.0  NaN  0.0  1.0  0.0  NaN  2.0  1.0  2.0  NaN  ...  1.0  1.0  0.0  0.0
2   1.0  0.0  NaN  NaN  0.0  0.0  NaN  NaN  0.0  0.0  ...  2.0  0.0  0.0  0.0
3   2.0  2.0  1.0  1.0  NaN  0.0  1.0  1.0  NaN  2.0  ...  NaN  1.0  NaN  2.0
4   0.0  0.0  1.0  0.0  NaN  0.0  0.0  2.0  1.0  2.0  ...  NaN  NaN  1.0  0.0
5   1.0  NaN  1.0  1.0  1.0  1.0  NaN  1.0  1.0  0.0  ...  2.0  NaN  NaN  0.0
6   0.0  0.0  0.0  1.0  2.0  2.0  0.0  NaN  NaN  0.0  ...  NaN  0.0  0.0  NaN
7   0.0  0.0  1.0  0.0  NaN  0.0  NaN  2.0  1.0  NaN  ...  NaN  NaN  1.0  NaN
8   1.0  NaN  0.0  2.0  0.0  NaN  NaN  NaN  0.0  NaN  ...  2.0  0.0  NaN  NaN
9   NaN  0.0  2.0  0.0  0.0  2.0  NaN  2.0  0.0  0.0  ...  NaN  NaN  NaN  NaN
10  NaN  2.0  0.0  0.0  1.0  NaN  1.0  1.0  NaN  2.0  ...  0.0  1.0  2.0  NaN
11  0.0  NaN  NaN  1.0  NaN  1.0  0.0  0.0  0.0  0.0  ...  NaN  0.0  NaN  0.0
12  0.0  NaN  0.0  NaN  NaN  NaN  0.0  NaN  0.0  NaN  ...  0.0  0.0  NaN  2.0
13  2.0  1.0  NaN  NaN  0.0  2.0  0.0  0.0  0.0  NaN  ...  NaN  1.0  0.0  0.0
14  0.0  0.0  2.0  0.0  0.0  NaN  2.0  NaN  2.0  0.0  ...  1.0  NaN  NaN  0.0
15  NaN  1.0  1.0  1.0  0.0  NaN  NaN  0.0  NaN  0.0  ...  0.0  NaN  NaN  1.0
16  0.0  NaN  0.0  NaN  NaN  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  NaN  1.0
17  1.0  0.0  1.0  0.0  1.0  2.0  1.0  NaN  0.0  1.0  ...  2.0  2.0  0.0  0.0
18  1.0  NaN  1.0  NaN  2.0  NaN  1.0  1.0  1.0  0.0  ...  2.0  2.0  NaN  0.0
19  0.0  1.0  0.0  2.0  NaN  NaN  0.0  0.0  1.0  2.0  ...  0.0  NaN  0.0  2.0
20  0.0  1.0  1.0  1.0  0.0  2.0  NaN  NaN  0.0  2.0  ...  0.0  0.0  2.0  2.0
21  0.0  1.0  NaN  2.0  1.0  0.0  NaN  1.0  2.0  NaN  ...  0.0  0.0  0.0  NaN
22  0.0  2.0  0.0  0.0  1.0  0.0  0.0  NaN  0.0  2.0  ...  2.0  2.0  0.0  1.0
23  NaN  NaN  2.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  2.0  2.0  2.0  1.0
24  2.0  NaN  1.0  0.0  0.0  1.0  NaN  0.0  1.0  0.0  ...  0.0  2.0  0.0  NaN
25  1.0  0.0  NaN  NaN  0.0  1.0  NaN  2.0  0.0  0.0  ...  1.0  1.0  0.0  0.0
26  NaN  0.0  0.0  NaN  1.0  NaN  NaN  NaN  0.0  2.0  ...  NaN  0.0  NaN  0.0
27  2.0  NaN  0.0  NaN  0.0  0.0  0.0  NaN  1.0  NaN  ...  0.0  0.0  0.0  0.0
28  0.0  1.0  0.0  NaN  0.0  0.0  1.0  NaN  0.0  2.0  ...  NaN  2.0  0.0  2.0
29  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  NaN  NaN  ...  0.0  0.0  0.0  0.0
30  0.0  2.0  NaN  NaN  0.0  NaN  0.0  1.0  2.0  NaN  ...  0.0  1.0  0.0  1.0
31  0.0  1.0  1.0  NaN  NaN  0.0  1.0  0.0  0.0  0.0  ...  1.0  0.0  0.0  0.0
32  0.0  2.0  NaN  0.0  1.0  NaN  2.0  0.0  0.0  0.0  ...  NaN  NaN  NaN  NaN
33  0.0  NaN  2.0  2.0  NaN  2.0  1.0  0.0  NaN  0.0  ...  0.0  1.0  1.0  0.0
34  0.0  NaN  2.0  NaN  2.0  NaN  NaN  0.0  NaN  0.0  ...  0.0  0.0  0.0  NaN
35  2.0  1.0  1.0  0.0  1.0  0.0  1.0  1.0  NaN  2.0  ...  0.0  2.0  0.0  NaN
36  2.0  2.0  0.0  0.0  NaN  0.0  NaN  0.0  NaN  NaN  ...  1.0  1.0  NaN  1.0
37  NaN  0.0  2.0  NaN  NaN  2.0  NaN  NaN  0.0  1.0  ...  0.0  NaN  1.0  0.0
38  0.0  NaN  NaN  0.0  1.0  NaN  0.0  0.0  1.0  NaN  ...  1.0  0.0  2.0  0.0
39  0.0  1.0  NaN  NaN  1.0  0.0  1.0  0.0  2.0  0.0  ...  0.0  0.0  0.0  2.0
40  0.0  0.0  NaN  NaN  NaN  0.0  NaN  0.0  NaN  0.0  ...  1.0  0.0  1.0  NaN
41  0.0  0.0  0.0  NaN  0.0  0.0  0.0  NaN  0.0  2.0  ...  0.0  NaN  2.0  2.0
42  0.0  0.0  NaN  0.0  1.0  0.0  NaN  1.0  2.0  0.0  ...  1.0  NaN  0.0  2.0
43  0.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  2.0  NaN  NaN  1.0
44  0.0  2.0  2.0  2.0  1.0  0.0  2.0  2.0  NaN  NaN  ...  0.0  0.0  NaN  2.0
45  NaN  0.0  NaN  NaN  0.0  0.0  0.0  2.0  NaN  NaN  ...  0.0  NaN  2.0  2.0
46  NaN  0.0  NaN  NaN  0.0  1.0  NaN  1.0  0.0  0.0  ...  0.0  2.0  NaN  NaN
47  2.0  0.0  1.0  1.0  2.0  2.0  2.0  0.0  0.0  NaN  ...  0.0  0.0  2.0  1.0
48  NaN  0.0  0.0  2.0  0.0  0.0  1.0  1.0  NaN  NaN  ...  2.0  0.0  NaN  1.0
49  1.0  1.0  NaN  2.0  1.0  2.0  1.0  NaN  0.0  1.0  ...  0.0  NaN  NaN  NaN

     44   45   46   47   48   49
0   0.0  0.0  1.0  NaN  1.0  1.0
1   NaN  1.0  1.0  0.0  2.0  NaN
2   NaN  NaN  2.0  1.0  1.0  0.0
3   0.0  0.0  0.0  0.0  2.0  0.0
4   NaN  0.0  NaN  1.0  2.0  NaN
5   2.0  2.0  1.0  2.0  NaN  NaN
6   0.0  NaN  NaN  0.0  2.0  2.0
7   2.0  1.0  0.0  0.0  NaN  0.0
8   1.0  0.0  NaN  1.0  NaN  NaN
9   0.0  0.0  2.0  1.0  NaN  1.0
10  NaN  1.0  0.0  0.0  NaN  NaN
11  0.0  0.0  0.0  2.0  NaN  1.0
12  2.0  1.0  NaN  NaN  2.0  1.0
13  NaN  2.0  NaN  0.0  0.0  1.0
14  2.0  0.0  0.0  0.0  0.0  NaN
15  2.0  0.0  NaN  2.0  0.0  1.0
16  NaN  NaN  0.0  2.0  0.0  1.0
17  2.0  0.0  0.0  1.0  0.0  0.0
18  2.0  0.0  NaN  1.0  2.0  0.0
19  1.0  NaN  1.0  2.0  0.0  NaN
20  1.0  NaN  NaN  2.0  0.0  2.0
21  2.0  2.0  0.0  1.0  2.0  NaN
22  NaN  0.0  0.0  2.0  NaN  0.0
23  NaN  2.0  0.0  0.0  NaN  NaN
24  NaN  1.0  0.0  0.0  1.0  1.0
25  NaN  1.0  NaN  0.0  NaN  0.0
26  NaN  0.0  NaN  0.0  NaN  NaN
27  NaN  NaN  0.0  0.0  NaN  NaN
28  2.0  NaN  1.0  1.0  NaN  0.0
29  NaN  0.0  NaN  0.0  1.0  NaN
30  0.0  NaN  0.0  2.0  2.0  NaN
31  NaN  2.0  0.0  0.0  1.0  0.0
32  1.0  NaN  NaN  2.0  2.0  NaN
33  0.0  0.0  0.0  0.0  0.0  NaN
34  1.0  1.0  0.0  0.0  0.0  NaN
35  0.0  NaN  2.0  NaN  NaN  2.0
36  1.0  NaN  0.0  NaN  1.0  0.0
37  NaN  1.0  0.0  1.0  2.0  0.0
38  0.0  2.0  NaN  NaN  NaN  1.0
39  0.0  2.0  2.0  NaN  2.0  0.0
40  NaN  0.0  2.0  0.0  1.0  0.0
41  2.0  NaN  1.0  0.0  NaN  NaN
42  0.0  0.0  NaN  0.0  0.0  0.0
43  2.0  1.0  2.0  2.0  NaN  NaN
44  0.0  2.0  0.0  1.0  NaN  NaN
45  NaN  NaN  1.0  0.0  1.0  0.0
46  0.0  0.0  0.0  NaN  NaN  0.0
47  0.0  0.0  0.0  2.0  1.0  NaN
48  2.0  1.0  2.0  1.0  1.0  0.0
49  NaN  2.0  0.0  NaN  0.0  0.0

[50 rows x 50 columns]

In [142]:
import numpy as np
import pandas as pd

# Set matrix dimensions and proportions
n = 50
values = np.random.permutation(
    np.concatenate([
        np.full(int(n * n * 0.5), 0),  # 50% 0's
        np.full(int(n * n * 0.25), 1), # 25% 1's
        np.full(int(n * n * 0.25), 2)  # 25% 2's
    ])
)

# Reshape the matrix
R = values.reshape(n, n)

# Create a mask for punching holes with a 30% probability
random_holes = np.random.choice([True, False], size=(n, n), p=[0.3, 0.7])

# Assign NaN to the corresponding positions
R = R.astype(float)  # Convert to float to support NaN
R[random_holes] = np.nan

# Convert to DataFrame
df = pd.DataFrame(R)


print(df)

     0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0   NaN  NaN  NaN  0.0  0.0  NaN  2.0  0.0  0.0  0.0  ...  0.0  2.0  0.0  0.0
1   0.0  1.0  0.0  NaN  2.0  0.0  NaN  2.0  NaN  0.0  ...  1.0  2.0  0.0  NaN
2   0.0  1.0  1.0  0.0  2.0  NaN  0.0  2.0  NaN  1.0  ...  0.0  NaN  NaN  NaN
3   NaN  0.0  2.0  0.0  0.0  NaN  0.0  0.0  NaN  1.0  ...  NaN  0.0  0.0  0.0
4   0.0  0.0  1.0  NaN  NaN  1.0  2.0  2.0  1.0  NaN  ...  0.0  2.0  2.0  NaN
5   1.0  1.0  NaN  0.0  0.0  2.0  0.0  NaN  NaN  0.0  ...  2.0  0.0  0.0  0.0
6   NaN  0.0  2.0  2.0  1.0  1.0  NaN  0.0  0.0  1.0  ...  0.0  0.0  2.0  0.0
7   NaN  0.0  2.0  NaN  NaN  2.0  NaN  1.0  0.0  0.0  ...  0.0  2.0  NaN  2.0
8   NaN  NaN  0.0  0.0  2.0  0.0  0.0  2.0  NaN  2.0  ...  2.0  0.0  NaN  NaN
9   NaN  1.0  0.0  NaN  2.0  0.0  0.0  NaN  NaN  0.0  ...  NaN  2.0  0.0  NaN
10  0.0  0.0  2.0  1.0  NaN  2.0  0.0  0.0  0.0  1.0  ...  2.0  NaN  1.0  2.0
11  NaN  1.0  NaN  0.0  2.0  1.0  0.0  NaN  NaN  2.0  ...  NaN  2.0  NaN  2.0
12  0.0  NaN  NaN  0.0  1.0  0.0  0.0  2.0  0.0  0.0  ...  2.0  NaN  NaN  1.0
13  NaN  0.0  1.0  0.0  1.0  NaN  2.0  0.0  2.0  1.0  ...  NaN  0.0  0.0  0.0
14  NaN  NaN  NaN  0.0  NaN  0.0  0.0  NaN  NaN  NaN  ...  NaN  1.0  NaN  0.0
15  NaN  NaN  2.0  0.0  2.0  1.0  NaN  1.0  NaN  0.0  ...  1.0  0.0  0.0  0.0
16  0.0  0.0  NaN  NaN  1.0  NaN  NaN  0.0  NaN  0.0  ...  NaN  2.0  0.0  2.0
17  2.0  0.0  2.0  0.0  0.0  0.0  0.0  NaN  NaN  1.0  ...  0.0  2.0  2.0  NaN
18  0.0  0.0  NaN  0.0  2.0  2.0  1.0  0.0  NaN  1.0  ...  NaN  1.0  0.0  2.0
19  2.0  0.0  NaN  NaN  1.0  0.0  0.0  NaN  1.0  1.0  ...  1.0  NaN  NaN  0.0
20  NaN  0.0  0.0  2.0  NaN  NaN  NaN  NaN  2.0  1.0  ...  2.0  NaN  0.0  NaN
21  0.0  0.0  0.0  2.0  1.0  0.0  NaN  0.0  1.0  0.0  ...  1.0  2.0  1.0  0.0
22  0.0  NaN  1.0  0.0  1.0  NaN  0.0  2.0  1.0  NaN  ...  NaN  0.0  0.0  2.0
23  0.0  2.0  1.0  1.0  2.0  2.0  0.0  0.0  NaN  NaN  ...  1.0  NaN  NaN  NaN
24  1.0  1.0  0.0  NaN  NaN  0.0  0.0  2.0  2.0  NaN  ...  1.0  1.0  0.0  2.0
25  0.0  0.0  0.0  2.0  2.0  1.0  2.0  NaN  NaN  2.0  ...  NaN  1.0  1.0  NaN
26  0.0  NaN  2.0  2.0  NaN  NaN  0.0  0.0  2.0  2.0  ...  0.0  0.0  0.0  NaN
27  1.0  0.0  0.0  0.0  0.0  0.0  NaN  2.0  0.0  NaN  ...  0.0  NaN  2.0  2.0
28  0.0  NaN  NaN  NaN  NaN  2.0  NaN  2.0  NaN  1.0  ...  1.0  NaN  NaN  0.0
29  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  2.0  ...  0.0  0.0  NaN  0.0
30  2.0  0.0  NaN  0.0  NaN  1.0  1.0  0.0  NaN  0.0  ...  NaN  NaN  NaN  2.0
31  0.0  0.0  0.0  2.0  NaN  0.0  0.0  1.0  2.0  1.0  ...  NaN  2.0  1.0  0.0
32  2.0  0.0  0.0  NaN  2.0  1.0  NaN  1.0  1.0  0.0  ...  0.0  2.0  1.0  0.0
33  2.0  NaN  1.0  NaN  0.0  0.0  0.0  NaN  2.0  NaN  ...  1.0  0.0  0.0  0.0
34  NaN  NaN  NaN  NaN  2.0  NaN  NaN  1.0  NaN  NaN  ...  NaN  0.0  0.0  2.0
35  0.0  NaN  0.0  0.0  NaN  0.0  NaN  NaN  0.0  NaN  ...  2.0  2.0  1.0  0.0
36  1.0  0.0  1.0  NaN  NaN  2.0  1.0  0.0  NaN  0.0  ...  NaN  2.0  NaN  2.0
37  0.0  0.0  NaN  NaN  1.0  0.0  NaN  NaN  0.0  NaN  ...  0.0  0.0  1.0  NaN
38  NaN  0.0  0.0  2.0  NaN  1.0  2.0  0.0  NaN  NaN  ...  0.0  0.0  0.0  1.0
39  0.0  2.0  NaN  2.0  NaN  0.0  1.0  0.0  1.0  0.0  ...  2.0  0.0  NaN  0.0
40  0.0  2.0  NaN  0.0  1.0  0.0  2.0  NaN  NaN  0.0  ...  1.0  1.0  0.0  NaN
41  1.0  1.0  NaN  1.0  0.0  2.0  NaN  NaN  0.0  0.0  ...  2.0  2.0  0.0  NaN
42  0.0  NaN  1.0  0.0  1.0  0.0  NaN  NaN  2.0  0.0  ...  NaN  1.0  NaN  0.0
43  1.0  0.0  NaN  2.0  2.0  NaN  NaN  0.0  NaN  1.0  ...  0.0  0.0  0.0  1.0
44  NaN  0.0  0.0  NaN  0.0  NaN  NaN  2.0  2.0  1.0  ...  1.0  2.0  NaN  NaN
45  NaN  1.0  1.0  1.0  0.0  2.0  0.0  0.0  2.0  0.0  ...  0.0  0.0  2.0  0.0
46  1.0  NaN  NaN  NaN  1.0  1.0  NaN  0.0  NaN  0.0  ...  1.0  1.0  NaN  0.0
47  0.0  NaN  2.0  0.0  2.0  2.0  0.0  NaN  1.0  NaN  ...  0.0  NaN  0.0  0.0
48  NaN  NaN  0.0  2.0  NaN  NaN  0.0  NaN  NaN  0.0  ...  1.0  NaN  NaN  NaN
49  0.0  0.0  NaN  0.0  NaN  NaN  0.0  2.0  2.0  2.0  ...  NaN  0.0  1.0  0.0

     44   45   46   47   48   49
0   NaN  0.0  NaN  NaN  NaN  NaN
1   NaN  0.0  1.0  2.0  NaN  NaN
2   2.0  2.0  1.0  2.0  0.0  0.0
3   0.0  2.0  1.0  2.0  1.0  NaN
4   1.0  1.0  NaN  NaN  2.0  2.0
5   NaN  0.0  NaN  0.0  0.0  0.0
6   1.0  NaN  2.0  1.0  1.0  NaN
7   NaN  0.0  0.0  1.0  0.0  1.0
8   NaN  NaN  NaN  2.0  NaN  NaN
9   0.0  1.0  NaN  NaN  NaN  1.0
10  0.0  2.0  0.0  0.0  0.0  0.0
11  0.0  0.0  0.0  0.0  2.0  NaN
12  0.0  1.0  NaN  NaN  NaN  2.0
13  2.0  1.0  NaN  2.0  NaN  NaN
14  NaN  1.0  0.0  1.0  0.0  2.0
15  0.0  2.0  2.0  1.0  2.0  0.0
16  NaN  1.0  0.0  1.0  2.0  NaN
17  1.0  NaN  2.0  NaN  0.0  2.0
18  0.0  1.0  NaN  NaN  0.0  0.0
19  NaN  1.0  NaN  0.0  NaN  1.0
20  1.0  0.0  NaN  0.0  2.0  0.0
21  0.0  NaN  1.0  0.0  0.0  1.0
22  0.0  1.0  NaN  1.0  1.0  2.0
23  NaN  0.0  2.0  1.0  NaN  0.0
24  1.0  0.0  NaN  0.0  0.0  NaN
25  0.0  NaN  0.0  NaN  1.0  1.0
26  0.0  0.0  NaN  0.0  0.0  0.0
27  NaN  0.0  2.0  1.0  2.0  0.0
28  0.0  1.0  0.0  2.0  0.0  NaN
29  2.0  2.0  2.0  2.0  0.0  0.0
30  1.0  2.0  0.0  2.0  0.0  0.0
31  2.0  0.0  2.0  1.0  0.0  1.0
32  NaN  NaN  2.0  0.0  0.0  0.0
33  1.0  1.0  0.0  0.0  NaN  0.0
34  0.0  NaN  0.0  NaN  NaN  2.0
35  1.0  0.0  0.0  0.0  2.0  NaN
36  2.0  0.0  1.0  2.0  2.0  NaN
37  1.0  0.0  0.0  1.0  0.0  2.0
38  2.0  NaN  0.0  1.0  0.0  0.0
39  NaN  NaN  0.0  NaN  0.0  1.0
40  2.0  NaN  0.0  0.0  NaN  NaN
41  0.0  NaN  2.0  1.0  0.0  2.0
42  0.0  1.0  NaN  1.0  NaN  2.0
43  NaN  NaN  NaN  0.0  2.0  1.0
44  1.0  NaN  0.0  1.0  0.0  1.0
45  NaN  0.0  1.0  2.0  0.0  1.0
46  1.0  2.0  0.0  2.0  NaN  0.0
47  0.0  0.0  NaN  0.0  2.0  NaN
48  2.0  1.0  0.0  2.0  NaN  NaN
49  0.0  NaN  0.0  0.0  0.0  NaN

[50 rows x 50 columns]

* Sort the rows in matrix `R` by the largest row sum to lowest. Be careful about the NA's!

In [154]:
#compute row sums, ignoring NaN values

row_sum = np.nansum(R, axis = 1)
#print(row_sum)

#get the row indices sorted by largest row sum to smallest

row_sorted = np.argsort(-row_sum) 
print(row_sorted)

[25  4  2 19 10 24 30 35 15 41 31  7 29 17 39 43  6 34 37 44 28  1 11 45
 32 27 47 13 48 20 21 23 46 36 49 22 16  3 33 26 38  8 42 18 12  9  0  5
 40 14]

* Python does not have an apply function. Instead use the nanstd function in numpy to calculate the standard devation of each column. Print them and combine then into a dataframe.

In [168]:
# compute row-wise and column-wise standard deviation
row_sd = np.nanstd(R, axis = 1)
col_sd = np.nanstd(R, axis = 0)

# combine the results into a dictionary
result = {"row_sd" : row_sd.tolist(), "col_sd" : col_sd.tolist()}

#print the results

print(result["row_sd"])
print(result["col_sd"])

row_sd_count = sum(~np.isnan(result["row_sd"]))
col_sd_count = sum(~np.isnan(result["col_sd"]))  # Count of valid values in col_sd

# Print the counts
print("Count of non-NaN values in row_sd:", row_sd_count)
print("Count of non-NaN values in col_sd:", col_sd_count)

[0.8086898285216189, 0.8854098583616238, 0.8392220378474723, 0.7871459619613752, 0.8446711713768276, 0.7577213929122263, 0.7757580512096671, 0.8975274678557507, 0.8076779989575054, 0.803055389860297, 0.8695311207367403, 0.925111364998409, 0.7761362712039817, 0.8050858744917354, 0.759202798262025, 0.8799857953399022, 0.7537660547584526, 0.8687730433896111, 0.8249491517770594, 0.7469661823058997, 0.8595864638818418, 0.767519463953629, 0.7916228058025279, 0.767519463953629, 0.7797593804232332, 0.8100291794323751, 0.903664205631601, 0.8147947848043934, 0.8202679477907446, 0.8362864341838866, 0.8381062852220592, 0.8308641921035719, 0.791663629289017, 0.7871459619613752, 0.8749603165604457, 0.8867160944173538, 0.8691737796972567, 0.8170618261189486, 0.7556372504853024, 0.8089697973125999, 0.75, 0.8870956969291443, 0.7181259597614282, 0.81033067476749, 0.7848037684780196, 0.7935090949136863, 0.7354309796043221, 0.8898420342245582, 0.8816709987291178, 0.816496580927726]
[0.7376433061167325, 0.6414269805898185, 0.8190839013800723, 0.8870956969291443, 0.8177316926151672, 0.8426193117902644, 0.7905694150420949, 0.8901615264953856, 0.8606629658238704, 0.7354309796043221, 0.8620067027323833, 0.8407965125464091, 0.8743814592545343, 0.8512440944877634, 0.8405933750763339, 0.9108881881195696, 0.7591617288906528, 0.8762116830881949, 0.7845445838711987, 0.7243532880447558, 0.7895811734750556, 0.8778452283278408, 0.8426193117902644, 0.6890566910260519, 0.8620067027323833, 0.8791206888678984, 0.7951240294584375, 0.808689828521619, 0.8534606386520674, 0.5951190357119042, 0.8716050085094313, 0.7483314773547882, 0.7856742013183862, 0.7780564894828952, 0.7510281019219878, 0.9131223741405675, 0.8886592908251624, 0.8670237042931574, 0.7632573146685605, 0.8231038816577163, 0.7855844048495726, 0.9043688250537638, 0.7422696190252056, 0.9124982527240751, 0.7949493345141213, 0.7592027982620249, 0.858501148195672, 0.8081971475990678, 0.8819171036881966, 0.8214258849275848]
Count of non-NaN values in row_sd: 50
Count of non-NaN values in col_sd: 50

* combine the results from the previous cell into a dataframe

In [164]:
sd_df  = pd.DataFrame({"row_sd" : row_sd.tolist(), "col_sd" : col_sd.tolist()})
sd_df

      row_sd    col_sd
0   0.808690  0.737643
1   0.885410  0.641427
2   0.839222  0.819084
3   0.787146  0.887096
4   0.844671  0.817732
5   0.757721  0.842619
6   0.775758  0.790569
7   0.897527  0.890162
8   0.807678  0.860663
9   0.803055  0.735431
10  0.869531  0.862007
11  0.925111  0.840797
12  0.776136  0.874381
13  0.805086  0.851244
14  0.759203  0.840593
15  0.879986  0.910888
16  0.753766  0.759162
17  0.868773  0.876212
18  0.824949  0.784545
19  0.746966  0.724353
20  0.859586  0.789581
21  0.767519  0.877845
22  0.791623  0.842619
23  0.767519  0.689057
24  0.779759  0.862007
25  0.810029  0.879121
26  0.903664  0.795124
27  0.814795  0.808690
28  0.820268  0.853461
29  0.836286  0.595119
30  0.838106  0.871605
31  0.830864  0.748331
32  0.791664  0.785674
33  0.787146  0.778056
34  0.874960  0.751028
35  0.886716  0.913122
36  0.869174  0.888659
37  0.817062  0.867024
38  0.755637  0.763257
39  0.808970  0.823104
40  0.750000  0.785584
41  0.887096  0.904369
42  0.718126  0.742270
43  0.810331  0.912498
44  0.784804  0.794949
45  0.793509  0.759203
46  0.735431  0.858501
47  0.889842  0.808197
48  0.881671  0.881917
49  0.816497  0.821426

* Use the Pandas apply function to compute a vector whose entries are the count of entries that are 1 or 2 in each column

In [170]:
R = pd.DataFrame(R)

#Compute the count of 1's and 2's in each column
counts = R.apply(lambda col: ((col == 1) | (col == 2)).sum(), axis=0)

#Print the counts
print(counts)

0     12
1     11
2     17
3     14
4     24
5     19
6     10
7     17
8     17
9     19
10    17
11    21
12    20
13    18
14    15
15    20
16    20
17    18
18    17
19    20
20    22
21    18
22    19
23    26
24    24
25    17
26    13
27    13
28    18
29    19
30    18
31    21
32    20
33    18
34    17
35    15
36    15
37    17
38    13
39    17
40    20
41    22
42    13
43    14
44    19
45    20
46    15
47    26
48    14
49    19
dtype: int64

Since we just switched between Pandas dataframes and Numpy arrays. Here are some handy ways to check to see if you are working with a Pandas dataframe or a Numpy array

In [172]:
# Check type directly
if type(R) == pd.DataFrame:
    print("R is a Pandas DataFrame")

if type(R) == np.ndarray:
    print("R is a NumPy array")

R is a Pandas DataFrame

In [174]:
# isinstance(object, classinfo): This function checks if an object is an instance of a specified class or subclass.
# function utilizing this function to check
def check_type(R):
    if isinstance(R, pd.DataFrame):
        return "Pandas DataFrame"
    elif isinstance(R, np.ndarray):
        return "NumPy array"
    else:
        return "Unknown type"

# Test the function
print(check_type(R))  # Output: Pandas DataFrame

Pandas DataFrame

* Create a list whose keys are the column number and values are the vector of the columns.

In [1]:
import numpy as np

matrix = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

column_dict = {i: matrix[:, i] for i in range(matrix.shape[1])}

print(column_dict)

{0: array([1, 4, 7]), 1: array([2, 5, 8]), 2: array([3, 6, 9])}

* Create a list whose keys are the column number and values are themselves a list with keys: "min" whose value is the minimum of the column, "max" whose value is the maximum of the column, "pct_missing" is the proportion of missingness in the column and "first_NA" whose value is the row number of the first time the NA appears. In R this was accomplished using lappy. In Python we will use dictionary comprehension in tandem with Numpy and Pandas operations.

In [3]:
import numpy as np
import pandas as pd

matrix = np.array([
    [1, 2, 3],
    [4, np.nan, 6],
    [7, 8, np.nan]
])

df = pd.DataFrame(matrix)

column_stats = [
    {
        "min": df[i].min(),
        "max": df[i].max(),
        "pct_missing": df[i].isna().mean(),
        "first_NA": df[i].first_valid_index() if df[i].isna().any() else None
    }
    for i in range(df.shape[1])
]

print(column_stats)

[{'min': 1.0, 'max': 7.0, 'pct_missing': 0.0, 'first_NA': None}, {'min': 2.0, 'max': 8.0, 'pct_missing': 0.3333333333333333, 'first_NA': 0}, {'min': 3.0, 'max': 6.0, 'pct_missing': 0.3333333333333333, 'first_NA': 0}]

* Set a seed and then create a vector `v` consisting of a sample of 1,000 iid normal realizations with mean -10 and variance 100.

In [5]:
import numpy as np


np.random.seed(42)


mean = -10
variance = 100
std_dev = np.sqrt(variance)  

v = np.random.normal(loc=mean, scale=std_dev, size=1000)

print(v[:10])

[ -5.03285847 -11.38264301  -3.52311462   5.23029856 -12.34153375
 -12.34136957   5.79212816  -2.32565271 -14.69474386  -4.57439956]

* Repeat this exercise by resetting the seed to ensure you obtain the same results. You can use the random module built in python or random.seed from numpy.

In [7]:
import random

random.seed(42)

mean = -10
std_dev = 10

v_random = [random.gauss(mean, std_dev) for _ in range(1000)]

print("Built-in random module:")
print(v_random[:10])

Built-in random module:
[-11.440903295779284, -11.729036003315192, -11.113158615676625, -2.9801627490113693, -11.27588283782887, -24.973534143409573, -6.676816559322847, -12.673374784971681, -12.16958684145195, -8.84115213299145]

* Find the average of `v` and the standard error of `v`.

* Find the 5%ile of `v` and use the `norm` function from scipy.stats to compute what it theoretically should be. Is the estimate about what is expected by theory?

* What is the percentile of `v` that corresponds to the value 0? What should it be theoretically? Is the estimate about what is expected by theory?

* Create a function `my_reverse` which takes as required input a vector `v` and returns the vector in reverse where the first entry is the last entry, etc. No function calls are allowed inside your function otherwise that would defeat the purpose of the exercise! (Yes, there is a base R function that does this called `rev`).

 * Built in methods in python to reverse a list.

In [ ]:
#reverse using slicing
v = [1, 2, 3, 4, 5]
v_reversed = v[::-1]
print(v_reversed)

#using the .reverse method
v = [1, 2, 3, 4, 5]
v.reverse()
print(v)

* Create a function `flip_matrix` which takes as required input a matrix, an argument `dim_to_rev` that returns the matrix with the rows in reverse order or the columns in reverse order depending on the `dim_to_rev` argument. Let the default be the dimension of the matrix that is greater.

In [9]:
import numpy as np

np.random.seed(42)
mean = -10
variance = 100
std_dev = np.sqrt(variance)
v = np.random.normal(loc=mean, scale=std_dev, size=1000)

average_v = np.mean(v)

standard_error_v = np.std(v, ddof=1) / np.sqrt(len(v))

print("Average of v:", average_v)
print("Standard Error of v:", standard_error_v)

Average of v: -9.806679441776746
Standard Error of v: 0.3096552685786409

* Create a list named `my_list` with keys "A", "B", ... where the entries are arrays of size 1, 2 x 2, 3 x 3 x 3, etc. Fill the array with the numbers 1, 2, 3, etc. Make 8 entries according to this sequence.

In [11]:

import numpy as np

my_list = {}
for i in range(1, 9):
    key = chr(64 + i)  
    my_list[key] = np.arange(1, i**3 + 1).reshape((i,) * 3)  

my_list

{'A': array([[[1]]]),
 'B': array([[[1, 2],
         [3, 4]],

        [[5, 6],
         [7, 8]]]),
 'C': array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]],

        [[19, 20, 21],
         [22, 23, 24],
         [25, 26, 27]]]),
 'D': array([[[ 1,  2,  3,  4],
         [ 5,  6,  7,  8],
         [ 9, 10, 11, 12],
         [13, 14, 15, 16]],

        [[17, 18, 19, 20],
         [21, 22, 23, 24],
         [25, 26, 27, 28],
         [29, 30, 31, 32]],

        [[33, 34, 35, 36],
         [37, 38, 39, 40],
         [41, 42, 43, 44],
         [45, 46, 47, 48]],

        [[49, 50, 51, 52],
         [53, 54, 55, 56],
         [57, 58, 59, 60],
         [61, 62, 63, 64]]]),
 'E': array([[[  1,   2,   3,   4,   5],
         [  6,   7,   8,   9,  10],
         [ 11,  12,  13,  14,  15],
         [ 16,  17,  18,  19,  20],
         [ 21,  22,  23,  24,  25]],

        [[ 26,  27,  28,  29,  30],
         [ 31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40],
         [ 41,  42,  43,  44,  45],
         [ 46,  47,  48,  49,  50]],

        [[ 51,  52,  53,  54,  55],
         [ 56,  57,  58,  59,  60],
         [ 61,  62,  63,  64,  65],
         [ 66,  67,  68,  69,  70],
         [ 71,  72,  73,  74,  75]],

        [[ 76,  77,  78,  79,  80],
         [ 81,  82,  83,  84,  85],
         [ 86,  87,  88,  89,  90],
         [ 91,  92,  93,  94,  95],
         [ 96,  97,  98,  99, 100]],

        [[101, 102, 103, 104, 105],
         [106, 107, 108, 109, 110],
         [111, 112, 113, 114, 115],
         [116, 117, 118, 119, 120],
         [121, 122, 123, 124, 125]]]),
 'F': array([[[  1,   2,   3,   4,   5,   6],
         [  7,   8,   9,  10,  11,  12],
         [ 13,  14,  15,  16,  17,  18],
         [ 19,  20,  21,  22,  23,  24],
         [ 25,  26,  27,  28,  29,  30],
         [ 31,  32,  33,  34,  35,  36]],

        [[ 37,  38,  39,  40,  41,  42],
         [ 43,  44,  45,  46,  47,  48],
         [ 49,  50,  51,  52,  53,  54],
         [ 55,  56,  57,  58,  59,  60],
         [ 61,  62,  63,  64,  65,  66],
         [ 67,  68,  69,  70,  71,  72]],

        [[ 73,  74,  75,  76,  77,  78],
         [ 79,  80,  81,  82,  83,  84],
         [ 85,  86,  87,  88,  89,  90],
         [ 91,  92,  93,  94,  95,  96],
         [ 97,  98,  99, 100, 101, 102],
         [103, 104, 105, 106, 107, 108]],

        [[109, 110, 111, 112, 113, 114],
         [115, 116, 117, 118, 119, 120],
         [121, 122, 123, 124, 125, 126],
         [127, 128, 129, 130, 131, 132],
         [133, 134, 135, 136, 137, 138],
         [139, 140, 141, 142, 143, 144]],

        [[145, 146, 147, 148, 149, 150],
         [151, 152, 153, 154, 155, 156],
         [157, 158, 159, 160, 161, 162],
         [163, 164, 165, 166, 167, 168],
         [169, 170, 171, 172, 173, 174],
         [175, 176, 177, 178, 179, 180]],

        [[181, 182, 183, 184, 185, 186],
         [187, 188, 189, 190, 191, 192],
         [193, 194, 195, 196, 197, 198],
         [199, 200, 201, 202, 203, 204],
         [205, 206, 207, 208, 209, 210],
         [211, 212, 213, 214, 215, 216]]]),
 'G': array([[[  1,   2,   3,   4,   5,   6,   7],
         [  8,   9,  10,  11,  12,  13,  14],
         [ 15,  16,  17,  18,  19,  20,  21],
         [ 22,  23,  24,  25,  26,  27,  28],
         [ 29,  30,  31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40,  41,  42],
         [ 43,  44,  45,  46,  47,  48,  49]],

        [[ 50,  51,  52,  53,  54,  55,  56],
         [ 57,  58,  59,  60,  61,  62,  63],
         [ 64,  65,  66,  67,  68,  69,  70],
         [ 71,  72,  73,  74,  75,  76,  77],
         [ 78,  79,  80,  81,  82,  83,  84],
         [ 85,  86,  87,  88,  89,  90,  91],
         [ 92,  93,  94,  95,  96,  97,  98]],

        [[ 99, 100, 101, 102, 103, 104, 105],
         [106, 107, 108, 109, 110, 111, 112],
         [113, 114, 115, 116, 117, 118, 119],
         [120, 121, 122, 123, 124, 125, 126],
         [127, 128, 129, 130, 131, 132, 133],
         [134, 135, 136, 137, 138, 139, 140],
         [141, 142, 143, 144, 145, 146, 147]],

        [[148, 149, 150, 151, 152, 153, 154],
         [155, 156, 157, 158, 159, 160, 161],
         [162, 163, 164, 165, 166, 167, 168],
         [169, 170, 171, 172, 173, 174, 175],
         [176, 177, 178, 179, 180, 181, 182],
         [183, 184, 185, 186, 187, 188, 189],
         [190, 191, 192, 193, 194, 195, 196]],

        [[197, 198, 199, 200, 201, 202, 203],
         [204, 205, 206, 207, 208, 209, 210],
         [211, 212, 213, 214, 215, 216, 217],
         [218, 219, 220, 221, 222, 223, 224],
         [225, 226, 227, 228, 229, 230, 231],
         [232, 233, 234, 235, 236, 237, 238],
         [239, 240, 241, 242, 243, 244, 245]],

        [[246, 247, 248, 249, 250, 251, 252],
         [253, 254, 255, 256, 257, 258, 259],
         [260, 261, 262, 263, 264, 265, 266],
         [267, 268, 269, 270, 271, 272, 273],
         [274, 275, 276, 277, 278, 279, 280],
         [281, 282, 283, 284, 285, 286, 287],
         [288, 289, 290, 291, 292, 293, 294]],

        [[295, 296, 297, 298, 299, 300, 301],
         [302, 303, 304, 305, 306, 307, 308],
         [309, 310, 311, 312, 313, 314, 315],
         [316, 317, 318, 319, 320, 321, 322],
         [323, 324, 325, 326, 327, 328, 329],
         [330, 331, 332, 333, 334, 335, 336],
         [337, 338, 339, 340, 341, 342, 343]]]),
 'H': array([[[  1,   2,   3,   4,   5,   6,   7,   8],
         [  9,  10,  11,  12,  13,  14,  15,  16],
         [ 17,  18,  19,  20,  21,  22,  23,  24],
         [ 25,  26,  27,  28,  29,  30,  31,  32],
         [ 33,  34,  35,  36,  37,  38,  39,  40],
         [ 41,  42,  43,  44,  45,  46,  47,  48],
         [ 49,  50,  51,  52,  53,  54,  55,  56],
         [ 57,  58,  59,  60,  61,  62,  63,  64]],

        [[ 65,  66,  67,  68,  69,  70,  71,  72],
         [ 73,  74,  75,  76,  77,  78,  79,  80],
         [ 81,  82,  83,  84,  85,  86,  87,  88],
         [ 89,  90,  91,  92,  93,  94,  95,  96],
         [ 97,  98,  99, 100, 101, 102, 103, 104],
         [105, 106, 107, 108, 109, 110, 111, 112],
         [113, 114, 115, 116, 117, 118, 119, 120],
         [121, 122, 123, 124, 125, 126, 127, 128]],

        [[129, 130, 131, 132, 133, 134, 135, 136],
         [137, 138, 139, 140, 141, 142, 143, 144],
         [145, 146, 147, 148, 149, 150, 151, 152],
         [153, 154, 155, 156, 157, 158, 159, 160],
         [161, 162, 163, 164, 165, 166, 167, 168],
         [169, 170, 171, 172, 173, 174, 175, 176],
         [177, 178, 179, 180, 181, 182, 183, 184],
         [185, 186, 187, 188, 189, 190, 191, 192]],

        [[193, 194, 195, 196, 197, 198, 199, 200],
         [201, 202, 203, 204, 205, 206, 207, 208],
         [209, 210, 211, 212, 213, 214, 215, 216],
         [217, 218, 219, 220, 221, 222, 223, 224],
         [225, 226, 227, 228, 229, 230, 231, 232],
         [233, 234, 235, 236, 237, 238, 239, 240],
         [241, 242, 243, 244, 245, 246, 247, 248],
         [249, 250, 251, 252, 253, 254, 255, 256]],

        [[257, 258, 259, 260, 261, 262, 263, 264],
         [265, 266, 267, 268, 269, 270, 271, 272],
         [273, 274, 275, 276, 277, 278, 279, 280],
         [281, 282, 283, 284, 285, 286, 287, 288],
         [289, 290, 291, 292, 293, 294, 295, 296],
         [297, 298, 299, 300, 301, 302, 303, 304],
         [305, 306, 307, 308, 309, 310, 311, 312],
         [313, 314, 315, 316, 317, 318, 319, 320]],

        [[321, 322, 323, 324, 325, 326, 327, 328],
         [329, 330, 331, 332, 333, 334, 335, 336],
         [337, 338, 339, 340, 341, 342, 343, 344],
         [345, 346, 347, 348, 349, 350, 351, 352],
         [353, 354, 355, 356, 357, 358, 359, 360],
         [361, 362, 363, 364, 365, 366, 367, 368],
         [369, 370, 371, 372, 373, 374, 375, 376],
         [377, 378, 379, 380, 381, 382, 383, 384]],

        [[385, 386, 387, 388, 389, 390, 391, 392],
         [393, 394, 395, 396, 397, 398, 399, 400],
         [401, 402, 403, 404, 405, 406, 407, 408],
         [409, 410, 411, 412, 413, 414, 415, 416],
         [417, 418, 419, 420, 421, 422, 423, 424],
         [425, 426, 427, 428, 429, 430, 431, 432],
         [433, 434, 435, 436, 437, 438, 439, 440],
         [441, 442, 443, 444, 445, 446, 447, 448]],

        [[449, 450, 451, 452, 453, 454, 455, 456],
         [457, 458, 459, 460, 461, 462, 463, 464],
         [465, 466, 467, 468, 469, 470, 471, 472],
         [473, 474, 475, 476, 477, 478, 479, 480],
         [481, 482, 483, 484, 485, 486, 487, 488],
         [489, 490, 491, 492, 493, 494, 495, 496],
         [497, 498, 499, 500, 501, 502, 503, 504],
         [505, 506, 507, 508, 509, 510, 511, 512]]])}

* Run the following code:

In [13]:
import sys

sizes = {key: sys.getsizeof(value) for key, value in my_list.items()}


# Print the sizes
for key, size in sizes.items():
    print(f"Key: {key}, Size: {size} bytes")

Key: A, Size: 144 bytes
Key: B, Size: 144 bytes
Key: C, Size: 144 bytes
Key: D, Size: 144 bytes
Key: E, Size: 144 bytes
Key: F, Size: 144 bytes
Key: G, Size: 144 bytes
Key: H, Size: 144 bytes

- Create vector `v` consisting of all numbers from -100 to 100 and test using the second line of code

In [15]:
import numpy as np

v = np.arange(-100, 101)
print(v) 
print(len(v))  
print(v[0], v[-1])

[-100  -99  -98  -97  -96  -95  -94  -93  -92  -91  -90  -89  -88  -87
  -86  -85  -84  -83  -82  -81  -80  -79  -78  -77  -76  -75  -74  -73
  -72  -71  -70  -69  -68  -67  -66  -65  -64  -63  -62  -61  -60  -59
  -58  -57  -56  -55  -54  -53  -52  -51  -50  -49  -48  -47  -46  -45
  -44  -43  -42  -41  -40  -39  -38  -37  -36  -35  -34  -33  -32  -31
  -30  -29  -28  -27  -26  -25  -24  -23  -22  -21  -20  -19  -18  -17
  -16  -15  -14  -13  -12  -11  -10   -9   -8   -7   -6   -5   -4   -3
   -2   -1    0    1    2    3    4    5    6    7    8    9   10   11
   12   13   14   15   16   17   18   19   20   21   22   23   24   25
   26   27   28   29   30   31   32   33   34   35   36   37   38   39
   40   41   42   43   44   45   46   47   48   49   50   51   52   53
   54   55   56   57   58   59   60   61   62   63   64   65   66   67
   68   69   70   71   72   73   74   75   76   77   78   79   80   81
   82   83   84   85   86   87   88   89   90   91   92   93   94   95
   96   97   98   99  100]
201
-100 100

* Test the `my_reverse` function using the following code:

In [17]:
# Test the function
v = list(range(1, 11))
v_reversed = my_reverse(v)
print(v)
print(v_reversed)
type(v_reversed)

assert my_reverse(v) == v[::-1], "my_reverse failed for numerical vector"

 # Test with character vector
v_char = ["A", "B", "C"]
assert my_reverse(v_char) == v_char[::-1], "my_reverse failed for character vector"

NameError: name 'my_reverse' is not defined

## A little about strings

* Use the `re.split` function by importing the re module and `random` from the random module to put the sentences in the string `lorem` below in random order. You will also need to manipulate the output of `re.split` which is a list. You may need to learn basic concepts of regular expressions.

In [19]:
import re
import random

lorem = """Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Morbi posuere varius volutpat. Morbi faucibus ligula id massa ultricies viverra.
Donec vehicula sagittis nisi non semper. Donec at tempor erat.
Integer dapibus mi lectus, eu posuere arcu ultricies in.
Cras suscipit id nibh lacinia elementum. Curabitur est augue, congue eget quam in, scelerisque semper magna.
Aenean nulla ante, iaculis sed vehicula ac, finibus vel arcu. Mauris at sodales augue."""

* You have a set of names divided by gender (M / F) and generation (Boomer / GenX / Millenial):

M / Boomer      "Theodore, Bernard, Gene, Herbert, Ray, Tom, Lee, Alfred, Leroy, Eddie"

M / GenX        "Marc, Jamie, Greg, Darryl, Tim, Dean, Jon, Chris, Troy, Jeff"

M / Millennial  "Zachary, Dylan, Christian, Wesley, Seth, Austin, Gabriel, Evan, Casey, Luis"

F / Boomer      "Gloria, Joan, Dorothy, Shirley, Betty, Dianne, Kay, Marjorie, Lorraine, Mildred"

F / GenX        "Tracy, Dawn, Tina, Tammy, Melinda, Tamara, Tracey, Colleen, Sherri, Heidi"

F / Millennial  "Samantha, Alexis, Brittany, Lauren, Taylor, Bethany, Latoya, Candice, Brittney, Cheyenne"

Create python dictionary to store this data.

In [21]:
names = {
    "M": {
        "Boomer": ["Theodore", "Bernard", "Gene", "Herbert", "Ray", "Tom", "Lee", "Alfred", "Leroy", "Eddie"],
        "GenX": ["Marc", "Jamie", "Greg", "Darryl", "Tim", "Dean", "Jon", "Chris", "Troy", "Jeff"],
        "Millennial": ["Zachary", "Dylan", "Christian", "Wesley", "Seth", "Austin", "Gabriel", "Evan", "Casey", "Luis"]
    },
    "F": {
        "Boomer": ["Gloria", "Joan", "Dorothy", "Shirley", "Betty", "Dianne", "Kay", "Marjorie", "Lorraine", "Mildred"],
        "GenX": ["Tracy", "Dawn", "Tina", "Tammy", "Melinda", "Tamara", "Tracey", "Colleen", "Sherri", "Heidi"],
        "Millennial": ["Samantha", "Alexis", "Brittany", "Lauren", "Taylor", "Bethany", "Latoya", "Candice", "Brittney", "Cheyenne"]
    }
}

* Now cleanup the namespace by deleting all stored objects and functions:

In [23]:
globals().clear()